@import "../../../styles/variables.scss";

.card {
  width: 100%;
  height: 5rem;
  margin: 0 0 1rem 0;
  padding: 0 2rem;
  border: $border-common;
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.contentArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem 0;
}

.name {
  font-size: $font-size-l;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: default;
}

.info {
  font-size: $font-size-s;
  cursor: default;
}

.buttonArea {
  display: flex;
  align-items: center;
  gap: 1rem;
}
