@import "../../../styles/variables.scss";

.main {
  height: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.formItem {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 0.5rem;
  label {
    font-size: $font-size-m;
    line-height: 3rem;
    text-align: center;
  }
  p {
    font-size: $font-size-s;
    color: red;
  }
}

.footer {
  height: 3rem;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
}
